
#title{
     background-color: #ff4c68;
     color: white;
}
.container-fluid1{
     padding: 3% 15% 7%;
} 
h1{
     font-family: 'Montserrat', sans-serif;
     font-size: 3.5rem;
     font-weight: bold;
     line-height: 1.5;
}
body{
     font-family: 'Montserrat', sans-serif;
}

/* navigation */
.navbar{
     padding:0 0 4.5rem;
}
.navbar-brand{
     font-family: 'Ubuntu', sans-serif;
     font-size: 2.5rem;
     font-weight: bold;
}
.nav-item{
     padding: 0 18px;
}
.nav-link{
     font-size: 1.2rem;
     font-family: 'Montserrat', sans-serif;
}
/* button  */
.download-button{
     margin: 5% 3% 5% 0;
}
/* title image  */
.title-image{
     width: 60%;
     transform: rotate(20deg);
     position: absolute;
     right: 30%;
}
@media (max-width: 1034px){
     .title-image{
          position: static;
          transform: rotate(0);
     }
     #title{
          text-align: center;
     }
}
/* FEATURES */
#features{
     position: relative;
     z-index: 1;
     background-color: white;
     padding: 7% 15%;
}
.photo{
     text-align: center;
     padding: 2%;
}
h3{
     font-weight: bold;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
}
.container-fluid2{
     width: 100%;
     margin-right: auto;
     margin-left: auto;
}
.icon1{
     font-size: 5rem;
     padding-bottom: 1.2rem;
     color: #ef8172;
}
.icon1:hover{
     color: #ff4c68;
}
.container-fluid{
     color: gray;
}

/* Testimonial */

h2{
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     font-size: 3rem;
     line-height: 1.5;
}
#testimonials{
     text-align: center;
     background-color: #ef8172;
     color: white;
}
.test-image{
     width: 10%;
     border-radius: 100%;
     margin: 20px;
}
.carousel-item{
     padding: 3% 15%;
}

#press{
     background-color: #ef8172;
     text-align:center;
     padding-bottom: 3%;
}
.logo{
     width: 15%;
     margin: 20px 20px 50px;
}

/* pricing */
#pricing{
     padding: 100px;
     text-align: center;
}
.pcol{
     padding: 3% 2%;
}